layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab {
        pane split_direction="vertical" {
            pane command="nvim"
            pane {
                command "opencode"
                args "-c"
                size "35%"
            }
        }
    }

    swap_tiled_layout name="vertical" {
        tab max_panes=2 {
            pane split_direction="vertical" {
                pane
                pane
            }
        }
        tab max_panes=3 {
            pane split_direction="vertical" {
                pane
                pane
                pane
            }
        }
        tab max_panes=4 {
            pane split_direction="vertical" {
                pane
                pane
                pane
                pane
            }
        }
    }

    swap_tiled_layout name="horizontal" {
        tab max_panes=2 {
            pane
            pane
        }
        tab max_panes=3 {
            pane
            pane
            pane
        }
        tab max_panes=4 {
            pane
            pane
            pane
            pane
        }
    }

    swap_tiled_layout name="stacked" {
        tab max_panes=4 {
            pane stacked=true {
                pane
                pane
                pane
                pane
            }
        }
    }

    swap_floating_layout name="staggered" {
        floating_panes max_panes=1 {
            pane {
                x "5%"
                y "5%"
                width "90%"
                height "90%"
            }
        }
        floating_panes max_panes=2 {
            pane {
                x "1%"
                y "1%"
                width "45%"
                height "90%"
            }
            pane {
                x "50%"
                y "1%"
                width "45%"
                height "90%"
            }
        }
        floating_panes max_panes=3 {
            pane {
                x "1%"
                y "1%"
                width "45%"
                height "45%"
            }
            pane {
                x "50%"
                y "1%"
                width "45%"
                height "45%"
            }
            pane {
                x "25%"
                y "50%"
                width "45%"
                height "45%"
            }
        }
    }

    swap_floating_layout name="spread" {
        floating_panes max_panes=1 {
            pane {
                x "50%"
                y "50%"
                width "45%"
                height "45%"
            }
        }
        floating_panes max_panes=2 {
            pane {
                x "30%"
                y "60%"
                width "35%"
                height "35%"
            }
            pane {
                x "55%"
                y "40%"
                width "40%"
                height "40%"
            }
        }
        floating_panes max_panes=3 {
            pane {
                x "20%"
                y "70%"
                width "25%"
                height "25%"
            }
            pane {
                x "50%"
                y "50%"
                width "30%"
                height "30%"
            }
            pane {
                x "70%"
                y "30%"
                width "25%"
                height "25%"
            }
        }
    }

    swap_floating_layout name="grid" {
        floating_panes max_panes=1 {
            pane {
                x "25%"
                y "25%"
                width "50%"
                height "50%"
            }
        }
        floating_panes max_panes=2 {
            pane {
                x "10%"
                y "10%"
                width "35%"
                height "80%"
            }
            pane {
                x "55%"
                y "10%"
                width "35%"
                height "80%"
            }
        }
        floating_panes max_panes=4 {
            pane {
                x "5%"
                y "5%"
                width "40%"
                height "40%"
            }
            pane {
                x "55%"
                y "5%"
                width "40%"
                height "40%"
            }
            pane {
                x "5%"
                y "55%"
                width "40%"
                height "40%"
            }
            pane {
                x "55%"
                y "55%"
                width "40%"
                height "40%"
            }
        }
    }
}
